@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body {
  width: 100%;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 2rem 10px;
}

.header img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.header .header__title__ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.header__title__ctn h1 {
  color: rgb(246, 46, 46);
  font-size: 3rem;
}

.main__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max__width__900 {
  max-width: 900px;
  width: 100%;
  padding: 4rem 10px;
}

.max__width__900 .main__caption {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.max__width__900 .triangle {
  width: 2px;
  height: 10px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid rgb(246, 46, 46);
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: auto;
}

.road__map__ctn {
  margin: 2rem 0;
}

.road__map__ctn .road__map__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease-in;
}

.road__map__ctn .road__map__img:hover {
  box-shadow: 8px 5px 13px -8px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 8px 5px 13px -8px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 8px 5px 13px -8px rgba(0, 0, 0, 0.47);
}

.footer {
  width: 100%;
  max-width: 100%;
}

.footer h6 {
  color: rgb(246, 46, 46);
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.footer .footer__one {
  background: green;
  color: #fff;
  text-align: center;
  padding: 1rem 10px;
  margin-top: 0.5rem;
}

.footer .footer__two {
  background: rgb(246, 46, 46);
  color: #fff;
  text-align: center;
  padding: 1rem 10px;
}

.footer .footer__three {
  background: green;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .header {
    gap: 1rem;
  }

  .header img {
    width: 50px;
  }

  .header .header__title__ctn {
    gap: 0.3rem;
  }

  .header__title__ctn h2 {
    font-size: 0.8rem;
  }

  .header__title__ctn h1 {
    font-size: 2rem;
  }

  .main__caption h1 {
    font-size: 1.2rem;
  }

  .footer .footer__one {
    font-size: 12px;
  }

  .footer .footer__two {
    font-size: 10px;
  }
  .footer .footer__three {
    font-size: 8px;
  }
}
